.button {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px 45px;
  border: 2px solid $white;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: .3s;
  color: $white;
  font-weight: 700;
  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: $white;
  }
  &:nth-of-type(5):after {
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
  }
  &:hover {
    cursor: pointer;
    color: $white;
    text-decoration: none;
    &:after {
      width: 100%;
      left: 0;
    }
  }
}

.button.black {
  border: 2px solid $black;
  color: $black;
  &:after {
    background: $black;
  }
  &:hover {
    color: $black;
  }
}

.button.fill {
  border: 2px solid $black;
  color: $white;
  background-color: $blue;
  &:after {
    background: $white;
  }
  &:hover {
    color: $white;
  }
}
