body{
  font-family: 'Open Sans', sans-serif;
}

.white{
  color: $white;
}

.black{
  color: $black;
}

h1{
  font-size: 4.5em;
  letter-spacing: -3px;
  font-weight: 700;
  @media only screen and (max-width: 991px) {
    font-size: 3.8em;
  }
  @media only screen and (max-width: 767px) {
    font-size: 3.5em;
  }
}

h2{
  font-size: 3em;
  letter-spacing: -2px;
  font-weight: 700;
}

h3{
  font-size: 2.5em;
  font-weight: 700;
}

p{
  font-size: 1.4em;
}
