@media (max-width: 575px) {
	/* XS */
	body:after {
		background: #CCC;
		color: #999;
		text-align: center;
		padding: 2px 10px;
		content: "XS (aka-col) - max 575";
		position: fixed;
		bottom: 0px;
		left: 50%;
        margin-left: -25%;
		width: 50%;
		box-sizing: border-box;
		z-index: 999999999;
        -webkit-border-top-left-radius: 6px;
        -webkit-border-top-right-radius: 6px;
        -moz-border-radius-topleft: 6px;
        -moz-border-radius-topright: 6px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
		box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
		-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
    }
}

@media (min-width: 576px) and (max-width: 767px) {
	/* SM */
	body:after {
		background: #CCC;
		color: #999;
		text-align: center;
		padding: 2px 10px;
		content: "SM - min 576 max 767";
		position: fixed;
        bottom: 0px;
		left: 50%;
        margin-left: -25%;
		width: 50%;
		box-sizing: border-box;
		z-index: 999999999;
        -webkit-border-top-left-radius: 6px;
        -webkit-border-top-right-radius: 6px;
        -moz-border-radius-topleft: 6px;
        -moz-border-radius-topright: 6px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
		box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
		-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	/* MD */
	body:after {
		background: #CCC;
		color: #999;
		text-align: center;
		padding: 2px 10px;
		content: "MD - min 768 max 991";
		position: fixed;
        bottom: 0px;
		left: 50%;
        margin-left: -25%;
		width: 50%;
		box-sizing: border-box;
		z-index: 999999999;
        -webkit-border-top-left-radius: 6px;
        -webkit-border-top-right-radius: 6px;
        -moz-border-radius-topleft: 6px;
        -moz-border-radius-topright: 6px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
		box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
		-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	/* LG */
	body:after {
		background: #CCC;
		color: #999;
		text-align: center;
		padding: 2px 10px;
		content: "LG - min 992 max 1199";
		position: fixed;
        bottom: 0px;
		left: 50%;
        margin-left: -25%;
		width: 50%;
		box-sizing: border-box;
		z-index: 999999999;
        -webkit-border-top-left-radius: 6px;
        -webkit-border-top-right-radius: 6px;
        -moz-border-radius-topleft: 6px;
        -moz-border-radius-topright: 6px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
		box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
		-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
	}
}

@media (min-width: 1200px) {
	/* XL */
	body:after {
		background: #CCC;
		color: #999;
		text-align: center;
		padding: 2px 10px;
		content: "XL - min 1200";
		position: fixed;
		bottom: 0px;
		left: 50%;
        margin-left: -25%;
		width: 50%;
		box-sizing: border-box;
		z-index: 999999999;
        -webkit-border-top-left-radius: 6px;
        -webkit-border-top-right-radius: 6px;
        -moz-border-radius-topleft: 6px;
        -moz-border-radius-topright: 6px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
		box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
		-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
	}
}
