footer{
  background-color: #0a293f;
  padding: 70px 0;
  img#logo{
    width: 100px;
  }
  p{
    color: $white;
  }
  a.links{
    color: $white;
    font-weight: 700;
    border-right: 2px solid $blue;
    padding: 0 25px;
    @media only screen and (max-width: 575px) {
      padding: 0 10px;
    }
    &:hover{
      transition: .5s;
      color: $blue;
      text-decoration: none;
    }
    &:last-child{
      border: none;
    }
  }
  .footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
    ul.social-icons {
      padding:0;
      list-style: none;
      margin-top: 10px;
      li{
        vertical-align: top;
        display: inline;
        height: 100px;
        a{
          color: #fff;
          text-decoration: none;
          .fa-instagram {
            padding:10px 14px;
            -o-transition:.5s;
            -ms-transition:.5s;
            -moz-transition:.5s;
            -webkit-transition:.5s;
            transition: .5s;
            background-color: $blue;
              &:hover{
                background-color: #DD2A7B;
              }
            }
          .fa-facebook-f {
            padding:10px 14px;
            -o-transition:.5s;
            -ms-transition:.5s;
            -moz-transition:.5s;
            -webkit-transition:.5s;
            transition: .5s;
            background-color: $blue;
              &:hover{
                background-color: #3d5b99;
              }
            }
            .fa-twitter {
              padding:10px 12px;
              -o-transition:.5s;
              -ms-transition:.5s;
              -moz-transition:.5s;
              -webkit-transition:.5s;
              transition: .5s;
              background-color: $blue;
                &:hover{
                  background-color: #00aced;
              }
            }
            .fa-linkedin {
                padding:10px 14px;
                -o-transition:.5s;
                -ms-transition:.5s;
                -moz-transition:.5s;
                -webkit-transition:.5s;
                transition: .5s;
                background-color: $blue;
                &:hover{
                  background-color: #0073a4;
                }
            }
        }
      }
    }
  }
}
