header{
  z-index: 10;
  background-color: #0a293f;
  #navbar {
    overflow: hidden;
    background-color: #333;
    a{
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      &:hover{
        background-color: #ddd;
        color: black;
      }
    }
    a.active{
      background-color: #4CAF50;
      color: white;
    }
  }
}

header#hidden{
  visibility: hidden;
}

header.sticky {
  position: fixed;
  top: 0;
  visibility: visible!important;
}

section.header{
  background: linear-gradient(rgba(27, 99, 141, 0.45), rgba(27, 99, 141, 0.9)),url(/naylor/wp-content/themes/naylordevtheme/assets/img/me.jpg);
  height: auto;
  background-position: 108% 0%;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 30px 0;
  @media only screen and (max-width: 1199px) {
    background-position: 120% 100%;
  }
  @media only screen and (max-width: 991px) {
    background-position: 145% 100%;
  }
  @media only screen and (max-width: 767px) {
    background-position: 200% 100%;
  }
  img#logo{
    width: 100px;
    @media only screen and (max-width: 767px) {
      display: flex;
      justify-content: center;
    }
  }
  nav{
    position: absolute;
    top: 50%;
    right: 0;
    width: 450px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
    a{
        position: relative;
        width: 33.333%;
        display: table-cell;
        text-align: center;
        color: $blue;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        padding: 10px 20px;
        transition: 0.2s ease color;
        &:before, &:after {
          content: "";
          position: absolute;
          border-radius: 50%;
          transform: scale(0);
          transition: 0.2s ease transform;
        }
        &:before{
          top: 0;
          left: 10px;
          width: 6px;
          height: 6px;
        }
        &:after{
          top: 5px;
          left: 18px;
          width: 4px;
          height: 4px
        }
        &:nth-child(1){
          &:before{
            background-color: red;
          }
          &:after{
            background-color: #00ff80;
          }
          &:hover{
            color: #fff;
            text-decoration: none;
          }
        }
        &:nth-child(2){
          &:before{
            background-color: #00ff80;
          }
          &:after{
            background-color: #ff00ff;
          }
          &:hover{
            color: #fff;
            text-decoration: none;
          }
        }
        &:nth-child(3){
          &:before{
            background-color: #ff00ff;
          }
          &:after{
            background-color: #0000ff;
          }
          &:hover{
            color: #fff;
            text-decoration: none;
          }
        }
        &:nth-child(4){
          &:before{
            background-color: #0000ff;
          }
          &:after{
            background-color: #ff8000;
          }
          &:hover{
            color: #fff;
            text-decoration: none;
          }
        }
        &:hover{
          color: #fff;
          text-decoration: none;
          &:before, &:after {
            transform: scale(1);
          }
        }
      }
      #indicator{
        position: absolute;
        left: 5%;
        bottom: 0;
        width: 30px;
        height: 3px;
        background-color: $blue;
        border-radius: 5px;
        transition: 0.2s ease left;
      }
    }
  nav a:nth-child(1):hover ~ #indicator
  {
      background: linear-gradient(130deg, red, #00ff80);
  }

  nav a:nth-child(2):hover ~ #indicator
  {
      left: 28%;
      background: linear-gradient(130deg, #00ff80, #ff00ff);
  }

  nav a:nth-child(3):hover ~ #indicator
  {
      left: 57%;
      background: linear-gradient(130deg, #ff00ff, #0000ff);
  }
  nav a:nth-child(4):hover ~ #indicator
  {
      left: 77%;
      background: linear-gradient(130deg, #0000ff, #ff8000 );
  }
}
