section.banner{
  text-shadow: 1px 1px rgba(0,0,0,0.4);
  span{
    color: $blue;
  }
  p{
    font-size: 2em;
    font-weight: 200;
    color: $transparent;
    line-height: 35px;
  }
  a{
    text-shadow: none;
  }
}

section.intro{
  img{
    width: 400px;
  }
}

section.full-width{
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),url(/naylor/wp-content/themes/naylordevtheme/assets/img/full-back.jpg);
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  .inner-container{
    background-color: #0a293f;
    padding: 30px;
    border: 1px #0a293f solid;
    -webkit-box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.75);
    i{
      font-size: 35px;
    }
    p{
      font-size: 1.4em;
      line-height: 1.1;
    }
    ul,li {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    ul {
      li {
        margin: .3em;
        margin-left: 1.6em;
        &:before{
          content: '\f00c';
          font-family: 'FontAwesome';
          float: left;
          margin-left: -1.5em;
          color: #0074D9;
        }
      }
    }
  }
}

section.floatingcard{
  .space {
    perspective: 1500px;
    width: 525px;
    .card {
      position: relative;
      border-radius: 8px;
      background: #32325d;
      width: 540px;
      transform: rotate3d(.5,.866,0,15deg) rotate(-1deg);
      box-shadow:
        -27.1px 62.5px 125px -25px rgba(50,50,93,.5),
        -16.2px 37.5px 75px -37.5px rgba(0,0,0,.6);
        .card-shine {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: linear-gradient(to top right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.5) 70%,#fff);
          pointer-events: none;
          opacity: 0.2;
        }
        .code-snippet {
          padding: 25px 30px;
          code[class*="language-"],
          pre[class*="language-"] {
            color: #e6ebf1;
            font-family: 'Source Code Pro', Consolas, Menlo, monospace;
            font-size: 14px;
            text-align: left;
            white-space: pre;
            word-spacing: normal;
            word-break: normal;
            word-wrap: normal;
            line-height: 1.3;

            -moz-tab-size: 4;
            -o-tab-size: 4;
            tab-size: 4;

            -webkit-hyphens: none;
            -moz-hyphens: none;
            -ms-hyphens: none;
            hyphens: none;

          }
        }
    }
  }
}
